In [8]:
import pandas as pd

In [20]:
df=pd.read_csv("C:/Users/d3us/Desktop/cursoDataScienceLinkedIn/bd/2008.csv", nrows=100000)
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [31]:
dfLAS=df[df["Origin"]=='LAS']
dfHOU=df[df["Origin"]=='HOU']

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91668,2008,1,31,4,1155.0,845,1539.0,1145,WN,3497,...,4.0,49.0,0,NaN,0,14.0,0.0,44.0,0.0,176.0
91669,2008,1,31,4,651.0,655,825.0,815,WN,709,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
91670,2008,1,31,4,1654.0,1630,1829.0,1755,WN,1304,...,7.0,18.0,0,NaN,0,3.0,0.0,10.0,0.0,21.0
91671,2008,1,31,4,1233.0,1120,1425.0,1240,WN,1465,...,4.0,47.0,0,NaN,0,0.0,0.0,32.0,0.0,73.0
91672,2008,1,31,4,2119.0,1950,2241.0,2110,WN,1931,...,4.0,11.0,0,NaN,0,7.0,0.0,2.0,0.0,82.0

In [32]:
newDF= dfLAS.append(dfHOU) #uniendo las 2 bases de datos o dataframes
newDF.Origin

79       LAS
80       LAS
81       LAS
82       LAS
83       LAS
        ...
91668    HOU
91669    HOU
91670    HOU
91671    HOU
91672    HOU
Name: Origin, Length: 10642, dtype: object