In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/d3us/Desktop/cursoDataScienceLinkedIn/bd/2008.csv", nrows=100000)
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [3]:
df[['Year','Month','DayOfWeek','Cancelled']][:10]

   Year  Month  DayOfWeek  Cancelled
0  2008      1          4          0
1  2008      1          4          0
2  2008      1          4          0
3  2008      1          4          0
4  2008      1          4          0
5  2008      1          4          0
6  2008      1          4          0
7  2008      1          4          0
8  2008      1          4          0
9  2008      1          4          0

In [5]:
#consultas
df[df['ArrDelay']>60].head(20)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0
81,2008,1,3,4,2248.0,2125,102.0,2345,WN,890,...,4.0,10.0,0,NaN,0,7.0,0.0,0.0,0.0,70.0
86,2008,1,3,4,1832.0,1655,148.0,30,WN,302,...,3.0,10.0,0,NaN,0,8.0,0.0,0.0,0.0,70.0
101,2008,1,3,4,2118.0,2015,2224.0,2115,WN,219,...,3.0,17.0,0,NaN,0,17.0,0.0,6.0,0.0,46.0
105,2008,1,3,4,2241.0,1910,2340.0,2010,WN,1072,...,3.0,13.0,0,NaN,0,114.0,0.0,0.0,0.0,96.0
121,2008,1,3,4,2232.0,2115,108.0,5,WN,632,...,6.0,13.0,0,NaN,0,0.0,0.0,7.0,0.0,56.0
122,2008,1,3,4,1512.0,1315,1802.0,1610,WN,706,...,8.0,14.0,0,NaN,0,0.0,0.0,0.0,0.0,112.0
135,2008,1,3,4,2255.0,1820,509.0,55,WN,1924,...,9.0,9.0,0,NaN,0,0.0,0.0,0.0,8.0,246.0
137,2008,1,3,4,1602.0,1510,2357.0,2255,WN,3144,...,4.0,22.0,0,NaN,0,13.0,0.0,10.0,0.0,39.0
142,2008,1,3,4,1556.0,1455,1704.0,1600,WN,354,...,9.0,18.0,0,NaN,0,61.0,0.0,3.0,0.0,0.0
156,2008,1,3,4,2118.0,2005,154.0,50,WN,411,...,7.0,18.0,0,NaN,0,14.0,0.0,0.0,0.0,50.0
171,2008,1,3,4,1945.0,1815,52.0,2335,WN,2450,...,8.0,11.0,0,NaN,0,13.0,0.0,0.0,0.0,64.0
172,2008,1,3,4,2057.0,1930,202.0,50,WN,2794,...,7.0,7.0,0,NaN,0,60.0,0.0,0.0,0.0,12.0
180,2008,1,3,4,1944.0,1740,2110.0,1915,WN,223,...,5.0,9.0,0,NaN,0,21.0,0.0,0.0,0.0,94.0
185,2008,1,3,4,2010.0,1900,2203.0,2030,WN,962,...,28.0,8.0,0,NaN,0,45.0,0.0,23.0,0.0,25.0
192,2008,1,3,4,1435.0,1315,1859.0,1755,WN,479,...,3.0,9.0,0,NaN,0,38.0,0.0,0.0,0.0,26.0

In [6]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [9]:
df[((df['Year']==2008) & (df['Origin']=='LAX')) & (df['ArrDelay']>100)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
372,2008,1,3,4,1820.0,1630,1943.0,1745,WN,1135,...,4.0,8.0,0,NaN,0,0.0,0.0,8.0,3.0,107.0
400,2008,1,3,4,2321.0,1955,38.0,2115,WN,593,...,6.0,6.0,0,NaN,0,0.0,0.0,203.0,0.0,0.0
402,2008,1,3,4,2008.0,1805,2139.0,1930,WN,646,...,5.0,16.0,0,NaN,0,0.0,24.0,6.0,0.0,99.0
403,2008,1,3,4,1625.0,1430,1748.0,1550,WN,656,...,3.0,13.0,0,NaN,0,0.0,0.0,5.0,0.0,113.0
404,2008,1,3,4,1305.0,1050,1421.0,1210,WN,680,...,5.0,8.0,0,NaN,0,0.0,0.0,131.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92083,2008,1,31,4,1503.0,1255,1709.0,1510,WN,2560,...,3.0,8.0,0,NaN,0,0.0,0.0,10.0,0.0,109.0
92093,2008,1,31,4,1123.0,910,1248.0,1035,WN,366,...,4.0,7.0,0,NaN,0,0.0,0.0,133.0,0.0,0.0
92098,2008,1,31,4,1957.0,1725,2129.0,1850,WN,1089,...,5.0,22.0,0,NaN,0,0.0,134.0,7.0,0.0,18.0
92101,2008,1,31,4,1722.0,1525,1829.0,1630,WN,978,...,4.0,8.0,0,NaN,0,12.0,0.0,2.0,0.0,105.0
92121,2008,1,31,4,2050.0,1900,2213.0,2015,WN,1286,...,4.0,8.0,0,NaN,0,0.0,0.0,8.0,0.0,110.0