In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/d3us/Desktop/cursoDataScienceLinkedIn/bd/2008.csv", nrows=100000)
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [3]:
df['ArrDelay']

0        -14.0
1          2.0
2         14.0
3         -6.0
4         34.0
         ...
99995    129.0
99996    -23.0
99997     63.0
99998     11.0
99999     11.0
Name: ArrDelay, Length: 100000, dtype: float64

In [4]:
df['HoursDelay']=round(df['ArrDelay']/60)
df['HoursDelay']

0       -0.0
1        0.0
2        0.0
3       -0.0
4        1.0
        ...
99995    2.0
99996   -0.0
99997    1.0
99998    0.0
99999    0.0
Name: HoursDelay, Length: 100000, dtype: float64

In [5]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'HoursDelay'],
      dtype='object')

In [6]:
del(df['HoursDelay'])

In [7]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [9]:
df.drop(['Diverted','CRSDepTime','CRSArrTime'], axis=1) #lo borra de la vista pero no del dataframe

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,2211.0,WN,335,N712SW,128.0,...,810,4.0,8.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,1002.0,WN,3231,N772SW,128.0,...,810,5.0,10.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,804.0,WN,448,N428WN,96.0,...,515,3.0,17.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,1054.0,WN,1746,N612SW,88.0,...,515,3.0,7.0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1959.0,WN,3920,N464WN,90.0,...,515,3.0,10.0,0,NaN,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,106.0,XE,7676,N11181,122.0,...,866,4.0,17.0,0,NaN,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,2234.0,XE,7676,N16170,121.0,...,866,4.0,16.0,0,NaN,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,2400.0,XE,7676,N12167,133.0,...,866,6.0,18.0,0,NaN,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,2308.0,XE,7676,N16170,132.0,...,866,5.0,25.0,0,NaN,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,2308.0,XE,7676,N11176,150.0,...,866,5.0,41.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.drop(['Diverted','CRSDepTime','CRSArrTime'], axis=1, inplace=True) #lo borra de la vista y del dataframe

KeyError: "['Diverted' 'CRSDepTime' 'CRSArrTime'] not found in axis"

In [14]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'ArrTime',
       'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest',
       'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')

In [16]:
#borrando filas
df.drop(0)

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,2008,1,3,4,754.0,1002.0,WN,3231,N772SW,128.0,...,810,5.0,10.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,804.0,WN,448,N428WN,96.0,...,515,3.0,17.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,1054.0,WN,1746,N612SW,88.0,...,515,3.0,7.0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1959.0,WN,3920,N464WN,90.0,...,515,3.0,10.0,0,NaN,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,2121.0,WN,378,N726SW,101.0,...,688,4.0,10.0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,106.0,XE,7676,N11181,122.0,...,866,4.0,17.0,0,NaN,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,2234.0,XE,7676,N16170,121.0,...,866,4.0,16.0,0,NaN,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,2400.0,XE,7676,N12167,133.0,...,866,6.0,18.0,0,NaN,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,2308.0,XE,7676,N16170,132.0,...,866,5.0,25.0,0,NaN,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,2308.0,XE,7676,N11176,150.0,...,866,5.0,41.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.drop(range(0,10000)) #borra las primeras filas de la vista

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
10000,2008,1,6,7,1244.0,1405.0,WN,776,N720WN,81.0,...,337,3.0,10.0,0,NaN,NaN,NaN,NaN,NaN,NaN
10001,2008,1,6,7,1547.0,1655.0,WN,173,N350SW,68.0,...,308,4.0,6.0,0,NaN,21.0,0.0,3.0,0.0,31.0
10002,2008,1,6,7,1601.0,1711.0,WN,232,N642WN,70.0,...,308,3.0,8.0,0,NaN,7.0,0.0,5.0,0.0,29.0
10003,2008,1,6,7,2046.0,2156.0,WN,343,N360SW,70.0,...,308,5.0,6.0,0,NaN,0.0,0.0,22.0,0.0,29.0
10004,2008,1,6,7,1137.0,1241.0,WN,769,N242WN,64.0,...,308,4.0,7.0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,106.0,XE,7676,N11181,122.0,...,866,4.0,17.0,0,NaN,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,2234.0,XE,7676,N16170,121.0,...,866,4.0,16.0,0,NaN,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,2400.0,XE,7676,N12167,133.0,...,866,6.0,18.0,0,NaN,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,2308.0,XE,7676,N16170,132.0,...,866,5.0,25.0,0,NaN,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,2308.0,XE,7676,N11176,150.0,...,866,5.0,41.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.drop(range(0,10000), inplace=True) #borra las primeras filas de la vistay del data frame

In [21]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
10000,2008,1,6,7,1244.0,1405.0,WN,776,N720WN,81.0,...,337,3.0,10.0,0,NaN,NaN,NaN,NaN,NaN,NaN
10001,2008,1,6,7,1547.0,1655.0,WN,173,N350SW,68.0,...,308,4.0,6.0,0,NaN,21.0,0.0,3.0,0.0,31.0
10002,2008,1,6,7,1601.0,1711.0,WN,232,N642WN,70.0,...,308,3.0,8.0,0,NaN,7.0,0.0,5.0,0.0,29.0
10003,2008,1,6,7,2046.0,2156.0,WN,343,N360SW,70.0,...,308,5.0,6.0,0,NaN,0.0,0.0,22.0,0.0,29.0
10004,2008,1,6,7,1137.0,1241.0,WN,769,N242WN,64.0,...,308,4.0,7.0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,106.0,XE,7676,N11181,122.0,...,866,4.0,17.0,0,NaN,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,2234.0,XE,7676,N16170,121.0,...,866,4.0,16.0,0,NaN,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,2400.0,XE,7676,N12167,133.0,...,866,6.0,18.0,0,NaN,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,2308.0,XE,7676,N16170,132.0,...,866,5.0,25.0,0,NaN,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,2308.0,XE,7676,N11176,150.0,...,866,5.0,41.0,0,NaN,NaN,NaN,NaN,NaN,NaN